@font-face {
    font-family: "SanFrancisco";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

apple {
  font-family: "SanFrancisco";
}